[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim_runtime"]
	path = vim_runtime
	url = git://github.com/refnil/vimrc.git
[submodule "tmuxrc"]
	path = tmuxrc
	url = git://github.com/refnil/tmuxrc.git
[submodule "vim_perso/vim-pony"]
	path = vim_perso/vim-pony
	url = git@github.com:jakwings/vim-pony.git
